body {
    font-family: Arial, Verdana, sans-serif;
    background-image: url('https://pxt.azureedge.net/blob/68f66c3ddc3acfc4c53157abf92eace202d46db2/static/courses/csintro/conditionals/rock-paper-scissors-items.png');
    background-size: 200px;

}

.choices {
    color: red;
    text-shadow: 2px 2px 2px white;
    font-size: 25px;
    font-family: 'Rock Salt', cursive;
    padding: .5em;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid black;
}

#jazz {
    border-bottom: none;
    margin-bottom: .5em;
}

#bonk {
    position: relative;
    top: 3rem;
    margin: 10vh 20vw;
    border: 15px solid blue;
    background-color: #ddd;
    border-radius: 20px;
    padding: 2rem 2rem 0rem 2rem;

}

#blurb {
    padding: 1em;
    font-size: 18px;
    font-weight: 600;
}

h1 {
    display: inline-block;
    font-family: 'Freckle Face', cursive;
    font-size: 2em;
    text-shadow: 1px 1px 1px black;
    font-variant: small-caps;
    background-color: green;
    border: 10px solid black;
    color: yellow;
    font-weight: 800;
    padding: 1rem;
    border-radius: 10px;
}

h2 {
    display: inline-flex;
    background-color: yellow;

}

#h2 {
    padding: 1em;
}

button {
    cursor: pointer;
    padding: .5em;
    margin: .1em auto;
    font-family: 'Freckle Face', cursive;
    font-size: 1.5em;
    background-color: green;
    color: yellow;
    border: 10px blue solid;
    border-radius: 10px;
    text-shadow: 2px 2px 2px black;
}

.centered {
    text-align: center;
}

hgroup {

    margin: auto;

}
